<footer class="footer" id="footer">

            <div class="rad1"> 
                <div [routerLink]="['/']"  > 
                   <img src="assets/img/bsi_offshore_logo-2018_.png" style="height:5vw"> 
                </div>
                <div> 
                    VISITING ADDRESS:<br>
                    Damsgårdsveien 229<br>
                    Laksevåg<br>
                    BERGEN<br>
                </div>
                                    
                <div> 
                    POSTAL ADDRESS:<br>
                    Postbox 64<br>
                    5847 Bergen<br>
                    NORWAY
                </div>
                        
                <div> 
                    PHONE / E-MAIL:<br>
                    (+47) 48 42 43 00<br>
                    post@bsi-offshore.no
                </div>
            
          
            </div>

            <a href="http://rj-web.no" target="_blank">
              <div class="rad2">
                  <img src="assets/img/logo_rj-web-transp.svg" >
              </div>
            </a>
		</footer>