#about h1 {
  color: #4f9dbc; 
}
#about p {
  color: #444;
  font-size: 1.3vw; 
}
#about p span {
  font-weight: 900; 
}
#about h2 {
  color: #777;
  font-size: 1.2vw; 
}
#about .about {
  display: flex;   
}
#about .about .left {
      display: flex;
      flex-direction: column;
      width: 62vw;
      padding: 4vw; 
}
#about .about .left .rad1 {
  display: flex; 
}
#about .about .left .rad1  img{
  padding: 2vw 4vw; 
  width:25%;
  height:25%;
}

/*
img {
width:10%;
height: auto;
}
*/


@media all and (max-width: 768px) {
  #about p {
  font-size: 2vw;
    }
    #about .about .left .rad1 ul {

    font-size: 2vw;
}

  #about h2 {
    color: #777;

    font-size: 2vw;
  
  }

#about .about .left {

    width: 100vw;
    padding: 1vw 1vw; 
     
}
app-referenceprojects{
     display:none;
}

#about .about .left .rad1 h1 {
          font-size: 2.5vw; 
}

  #about .about {
    display: flex;
    padding: 0 0 3vw 3vw; 
    }
}