        <section id="about">
           <div class="about">
                <div class="left">
                    <h1>ABOUT US</h1>
                     <div class="rad1">                     

                        <p> 
                           BSI Offshore is located at the shipyard in Laksevåg, Central Bergen, Norway. 
                           We are located within half an hours drive from Semco Maritime at Hanøytangen, 
                           and the same distance to Coast Center Base (CCB). We are holding a frame agreement with CCB, 
                           making us a preferred cooperator when it comes to rig outfitting projects at CCB. Our central 
                           location in Bergen makes us a very attractive partner for many of the rig companies.
                            We have a very well equipped work shop, and our employees have very long and valuable experience 
                            from various rig operations.
                        </p>
                         <img  src="assets/img/omoss.jpg" />
                    </div>
                </div>
<app-referenceprojects ></app-referenceprojects>
            </div>
        </section>


