
        <section id="projects">

            <div class="projects">
                <h1>PROJECTS:</h1>

                <div class="rad1">
                    <div [routerLink]="['/project',p1.id]" >                                
                        <img  src="{{p1.hovedbilde}}"/>
                        <p>
                            {{p1.name}}<br>
                            <span></span>
                        </p>
                    </div>
                    <div [routerLink]="['/project',p2.id]" >               
                        <img  src="{{p2.hovedbilde}}" />
                            <p>
                                {{p2.name}}<br>
                                <span> </span>
                            </p>
                    </div>
                    <div  [routerLink]="['/project',p3.id]">                             
                                       
                        <img  src="{{p3.hovedbilde}}" />
                            <p>
                                 {{p3.name}}<br>
                                <span> </span>
                            </p>
                    </div>    
                </div>

                <div class="rad1">
                    <div  [routerLink]="['/project',p4.id]">                
                        <img  src="{{p4.hovedbilde}}" />
                        <p>
                            {{p4.name}}<br>
                            <span></span>
                        </p>
                    </div>
                    <div  [routerLink]="['/project',p5.id]"> 
                                
                        <img  src="{{p5.hovedbilde}}" />
                        <p> {{p5.name}}<br>
                            <span></span>
                        </p>
                    </div>
                    <div  [routerLink]="['/project',p6.id]">                             
                                       
                        <img  src="{{p6.hovedbilde}}" />
                                                <p>
                             {{p6.name}}<br>
                            <span></span>
                        </p>
                    </div>    
                </div>

                <div class="rad1">
                    <div  [routerLink]="['/project',p7.id]"> 
                                         
                        <img  src="{{p7.hovedbilde}}" />
                        <p>
                            {{p7.name}}<br>
                            <span> </span>
                        </p>
                    </div>
                    <div  [routerLink]="['/project',p8.id]"> 
                                        
                        <img  src="{{p8.hovedbilde}}" />
                              <p>
                                {{p8.name}}<br>
                                <span> </span>
                            </p>
                    </div>
                    <div  [routerLink]="['/project',p9.id]">                             
                                      
                        <img  src="{{p9.hovedbilde}}" />
                              <p>
                                {{p9.name}}<br>
                                <span></span>
                            </p>
                    </div>    
 
                </div>

            </div>

        </section>

