        <section id="contact">
           <div class="contact">
                <div class="left">
                    <h1>CONTACT</h1>
                
                    <h3>Key personnel:</h3> 
                     <div class="rad1">  

                        <div>         
                          <h2>
                            Audun Lokøy
                            </h2>
                              <p> 
                            <br>
                            Managing director
                            <br>
                            Phone: + 47 458 06 690
                            <br>                        
                            E-mail: al@bsi-offshore.no                                
                            </p>
                        </div>
                        <div>
                        
                           <h2>Jan Ove Dahle</h2>
                        
                        <p>    <br>
                            Project Manager
                            <br>
                            Phone: + 47 922 65 255
                            <br>
                            E-mail:jod@bsi-offshore.no
                        </p>
                        </div>
                        <div>         
                          <h2>
                            Magne Lokøy
                            </h2>
                              <p> 
                            <br>
                            Project Manager
                            <br>
                            Phone: + 47 404 02 548
                            <br>                        
                            E-mail: ml@bsi-offshore.no                                
                            </p>
                        </div>
                    </div>

<div class="rad2">  

                        <div>         
                          <h2>
                           Per Otto Seim
                            </h2>
                              <p> 
                            <br>
                           Project Manager
                            <br>
                            Phone: + 47 915 65 661
                            <br>                        
                            E-mail: pos@bsi-offshore.no                                
                            </p>
                        </div>
                        <div>
                        
                           <h2>Mariann Grotle Misje</h2>
                        
                        <p>    <br>
                            Accounts
                            <br>
                            Phone: + 47 484 24 482
                            <br>
                            E-mail: mariann.misje@bsi-offshore.no
                        </p>
                        </div>
                        <div>
                            
                               <h2>Magdalena Anna Bugaj</h2>
                            
                            <p>    <br>
                              Project- and personnel coordinator
                                <br>
                                Phone: +47 484 28 392
                                <br>
                                E-mail: mab@bsi-offshore.no
                            </p>
                          
               
          </div>
                                               
                    </div>
                </div>
              <app-referenceprojects ></app-referenceprojects>
            </div>
        </section>