                <div class="left">
                    <h1>TURNKEY PROJECTS</h1>
                               

                        <p> 
                            
                           <span> 
                              We deliver turnkey projects to our customers, coordinating all other trades to make it as easy as possible for our customers.

                           </span>
                           <br><br>
                              In addition to the Planning and Engineering phase of a project, we also do the physical building activity of the projects.  
                              Our craftsmen are highly skilled within their trades, either if it’s within ship carpentry, insulation, cladding, 
                              founding concrete floors, tiling or vinyl flooring. We have close co-operation with trades like  HVAC, 
                              Electricians and Plumbers, and we therefore deliver complete turnkey solutions to many of our customers.                       
                            
                            </p>
                         
              
                </div>
<app-referenceprojects ></app-referenceprojects>

        <!--



TURNKEY PROJECTS
We deliver turnkey projects to our customers, coordinating all other trades to make it as easy as possible for our customers.



        -->