



        
        <section id="hseq">
            <div class="hseq">
                <div class="left">
                    <h1>HSEQ</h1>
                     <div class="rad1">                     
                        <h2>
                            Health, Safety, Environment and Quality
                        </h2>                                         
                        <h1>Quality management system</h1>

                   
                        <p> 
                                Our quality management system is based on the internal Control Regulations  (Internkontrollforskriften).
                        </p>
                      
                        <h1> HSE</h1>
                        <p>
                            We have established and documented a formal system for managing health, safety and environment (HSE). 
                            
                            Our HSE-system complies with the applicable Norwegian laws and regulations. 
                            The system reflects a clear expression of commitment from the management of the company. 
                            
                            <br><br>
                            <span>Our overall goals concerning HSE are:</span>
                        </p>
                        <ul>
                            <li> We shall not have any damages or accidents to people</li>
                            <li>Our sickness leave shall be substantial lower than the national Norwegian average</li>
                            <li>We shall not have damages to goods and materials</li>
                            <li>We shall have a good working environment</li>
                        </ul>
                    </div>
                </div>
                    <app-referenceprojects ></app-referenceprojects>
            </div>
     
        </section>