                <div class="left">
                    <h1>PLANNING AND ENGINEERING</h1>
                               

                        <p> 
                            
                           <span> 
                             Planning and engineering is a very crucial part of the project.  
                             We transfer our experience into value for our customers.  
                           </span>
                           <br><br>
Since our establishment in 2003, we have participated in several marine and offshore projects.  
This has given us a very wide experience on Marine & Offshore Interior Solutions.  The planning process contains all aspects concerning the 
technical challenges, drawings and design of concepts, documentation according to the current standards like NORSOK or SOLAS, economical 
planning and analysis, and of course HSE and quality planning.
                           <br><br>

We do world-wide offshore surveys, and technical inspections on site, to be sure we get the right angle of incidence to our customers’ 
requests.
                            
                            
                            </p>
                         
              
                </div>
<app-referenceprojects ></app-referenceprojects>

        