       <section id="products">
            <div class="products">
              
                <div class="left">
                    <h1>PRODUCTS</h1>
                    <p>We deliver a range of products to the rig industry, i.e.:</p>
                    

                

                    <div class="rad1">
                        <div> 
                           <h2> Wooden furniture</h2>                   
                            <img  src="assets/img/wooden-furniture.jpg" />
                            <p>
                            Wooden furniture from our own partly owned company <a href="http://www.hbh.no" target="_blank"> HBH Innredning</a>. These are typical furniture for cabins, public crew area, mess rooms, offices and so on. Products like beds, cabinets, tables and special designed furniture.
                            </p>
                        </div>
                        <div>
                            <h2>Steel furniture</h2>
                             <img  src="assets/img/steel-furniture.jpg" />
                             <p>
                                 Typical steel furniture like bunk beds for cabins, turnable beds or pullman beds.
                             </p>
                        </div>
                        <div>
                            <h2>Galley equipment</h2>
                             <img  src="assets/img/gallery-equipment.jpg" />
                             <p>
                                 Galley equipment from all the leading producers of ship & offshore quality equipment, like Metos, Miele, Electrolux, Beha-Hedo and several more. Products like stainless steel benches, galley ranges and convection ovens.
                             </p>
                        </div>
                    </div>

                    <div class="rad1">
                        <div>
                           <h2> Mess room equipment</h2>   
                            <img  src="assets/img/mess-room-equipment.jpg" />
                            <p>
                                 We produce our own custom made mess room equipment either in wood or solid surface like Corian. We deliver refrigerated or heated benches from leading producers, as well as all equipment like drinking dispensers and coffee machines.
                             </p>
                        </div>
                        <div>
                            <h2>Laundry Machinery</h2>
                             <img  src="assets/img/laundry-machinery.jpg" />
                             <p>
                                 Laundry machinery from all the leading producers of ship & offshore quality equipment, like Metos, Miele and Electrolux.
                             </p>
                        </div>
                        <div>
                            <h2>Insulation</h2>
                             <img  src="assets/img/insulation.jpg" />
                             <p>
                                 Insulation products like Sea Rox (Rockwool) and Glava Marine & Offshore. 
                             </p>
                        </div>
                    </div>










                    <div class="rad1">
                        <div>
                            <h2>Fire rated doors</h2>
                             <img  src="assets/img/fire-rated-doors.jpg" />
                             <p>
                                    A range of doors from internal doors to exteral A-class and weather tight doors, as well as heavy duty offshore doors.
                             </p>
                        </div>
                        <div>
                            <h2>Wall and ceiling panel system</h2>
                             <img  src="assets/img/wall-and-ceiling-panel-system.jpg" />
                             <p>
                                 A wide range of wall and ceiling systems, for cabins, corridors, wheel-house, lounges etc.
                             </p>
                        </div>
                        <div>
                           <h2> Floor</h2>
                            <img  src="assets/img/floor.jpg" />
                            <p>
                                 Quality Maine & Offshore products, like Weber concrete and Sikafloor, epoxy, tiles, shipfloor and vinyl.
                             </p>
                        </div>
                    </div>






                </div>


<app-referenceprojects ></app-referenceprojects>


            </div>
        </section>


