   <section id="services">
            <div class="services">
                <div class="left">
                    <h1>SERVICES</h1>
                     <div class="rad1">                     
                        <p>

                                We offer a full range of services to the rig industry, ensuring safe and efficient project management and execution of operations, and meeting client's requirements to safety, quality, time-frame and cost.
                        </p>
                        <p>                    
                             We have a very close cooperation with several rig companies, doing a lot of offshore work on a number of rigs. Our customers ask for our services over and over again, and this is our best proof of being a serious business partner for these companies.
                        </p>
                        <p>
                            We have gained a very wide experience through all the projects we have participated in, and we are fully updated on the NORSOK standards when it comes to interior and accommodation solutions.
                        </p>
                        <h1>We offer a wide range of services to the ship and rig industry, such as:</h1>
                        <ul>
                            <li> Ultrasonic Hatch and Door testing</li>
                            <li>Flooring; tiling, epoxy, ship floor and vinyl foor</li>
                            <li>Installation of wall and ceiling panelling systems</li>
                            <li>Doors</li>
                            <li>Galleys and mess rooms</li>
                            <li>Laundries</li>
                            <li>Furniture</li>
                            <li>Fire safe insulation and comfort insulation</li>
                            <li>Thin plates and cladding</li>
                        </ul>
                    </div>
                </div>
                <app-referenceprojects ></app-referenceprojects>
            </div>
        </section>
